{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #4caf50; font-style: bold; font-size: 3rem;">IMS</div>
    <div class="align-middle" style="color: rgb(73, 73, 73)">An Inventory Management System</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#4caf50">| About |</h3> <br>
            <p>
                IMS is an inventory management software tailored to meet the specific needs of businesses. It efficiently tracks incoming and outgoing stock while dynamically generating bills for transactions. The system also maintains individual profiles for suppliers, allowing them to access their transaction history with the company.
            </p>
        <br>
    </div>
    
    <h2 style="color:#4caf50" class="align-middle">| Features |</h3> <br>
    <ul style="display:table; margin:0 auto; ">                
        <li style="color:#494949;">Interactive Chart to display current available stock</li>
        <li style="color:#494949;">Maintenance of stock details such as current available stock</li>
        <li style="color:#494949;">Incoming transactions facilitated through purchases</li>
        <li style="color:#494949;">Outgoing transactions managed through sales</li>
        <li style="color:#494949;">Recording of every transaction performed through the software</li>
        <li style="color:#494949;">Dynamic rendering and printing of bills</li>
        <li style="color:#494949;">Separate profiles maintained for suppliers</li>
    </ul>  
    <br>
    
    <div class="align-middle">
        <h2 style="color:#4caf50" >| Developer |</h3> <br>
            <p>Group 2</p>
            <br><br><br>
    </div>

{% endblock content %}
